@font-face {
	font-family: 'ProximaNova';
	src: url('fonts/ProximaNova-Regular.eot');
	src: local('☺'), url('fonts/ProximaNova-Regular.woff') format('woff'), url('fonts/ProximaNova-Regular.ttf') format('truetype'), url('fonts/ProximaNova-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Times';
	src: url('fonts/Times-Roman.eot');
	src: local('☺'), url('fonts/Times-Roman.woff') format('woff'), url('fonts/Times-Roman.ttf') format('truetype'), url('fonts/Times-Roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Times';
	src: url('fonts/Times-Italic.eot');
	src: local('☺'), url('fonts/Times-Italic.woff') format('woff'), url('fonts/Times-Italic.ttf') format('truetype'), url('fonts/Times-Italic.svg') format('svg');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Times';
	src: url('fonts/Times-Bold.eot');
	src: local('☺'), url('fonts/Times-Bold.woff') format('woff'), url('fonts/Times-Bold.ttf') format('truetype'), url('fonts/Times-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Times';
	src: url('fonts/Times-BoldItalic.eot');
	src: local('☺'), url('fonts/Times-BoldItalic.woff') format('woff'), url('fonts/Times-BoldItalic.ttf') format('truetype'), url('fonts/Times-BoldItalic.svg') format('svg');
	font-weight: bold;
	font-style: italic;
}
$body-font: Times;
$proxima: ProximaNova;
$primary-color: #000000;
$first-bgcolor: #ebebeb;
$second-bgcolor: #f3f3f3;
$third-bgcolor: #f4f4f4;
$body-fontsize: 14px;
$font-styleItalic: italic;
$font-styleNormal: normal;
$header-fontSize: 12px;
body{
	font-family: $body-font;
	font-size: $body-fontsize;
	font-style: $font-styleItalic;
	color: $primary-color;
	line-height: 1.3;
	letter-spacing: 1px;
}
ul{
	margin: 0;
	padding: 0;
}
a{
	color: $primary-color;
}
a:hover{
	color: $primary-color;
	text-decoration: none;
}
h3, .h3 {
    font-size: 20px;
    font-style: $font-styleNormal;
    letter-spacing: 15px;
}
h4{
	font-family: $body-font;
	font-size: 16px;
	font-style: $font-styleNormal;
	text-transform: uppercase;
	margin: 25px 0;
	letter-spacing: 4px;
	
}
.btn-default,.link-button{
	background-color: transparent;
	font-family: $proxima;
	font-style: $font-styleNormal;
	color: $primary-color;
	border: 1px solid;
    border-radius: 0;
    letter-spacing: 3px;
    text-transform: uppercase;
    width: 210px;
	padding: 8px 12px;
&:hover{
	background-color: transparent;	
	border: 1px solid;
	color: $primary-color;
}	
}
.link-button{
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	display: block;
	margin-top: 40px;
}
.form-control{
	font-family: $proxima;
	font-style: $font-styleNormal;
	color: $primary-color;
	border: none;
	box-shadow: none;
	border-radius: 0;
}
.form-control::-moz-placeholder{
	color: $primary-color;
}
.form-control:focus{
	box-shadow: none;
}
.container{
	width: 990px;
}
.price{
	font-family: $proxima;
	font-style: $font-styleNormal;
	font-size: 15px;
}
.flex-container{
	display: flex;
	align-items: center;
	justify-content: center;
}
.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}
#header{
	.top-navbar{
		background-color: $first-bgcolor;
		width: 100%;
		position: relative;
	ul{
		display: block;
		text-align: center;
	li{
		display: inline-block;
		margin-right: 75px;
		line-height: 40px;
	a{
		font-family: $proxima; 
		font-size: $header-fontSize;
		font-style: $font-styleNormal;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 2px;
	 }
	}	
	}
	 .cart{
		position: absolute;
		right: 25px;
		top: 0;
		line-height: 40px;
		font-style: $font-styleNormal;
	 }  
	}
	.logo{
		line-height: 130px;
		text-align: center;
		position: relative;
	.social-icons {
		line-height: 130px;
		position: absolute;
		top: 20px;
		left: 30px;
	 a{
		color: $primary-color;
		text-decoration: none;
	 i{
		display: block;
		margin-bottom: 20px;
	 }
	}	 
	}
	}
} 
.main-container{
	.banner{
		min-height: 530px;
		position: relative;
		background-size: cover !important;
	.banner-overlay {
		left: 0;
		position: absolute;
		right: 0;
		text-align: center;
		top: 20%;
	h3{
		margin-bottom: 20px;
	}
	 .sub-heading{
		font-family: $proxima;
		font-size: 16px;
		letter-spacing: 8px;
		font-style: $font-styleNormal;
		padding: 15px 0 35px 0;
	 }	
	}
	}
 .featured-products{
	padding-top: 85px;
	img{
		max-width: 100%;
	}
	.latest-text {
		min-height: 335px;
		text-align: center;
		align-items: center;
		display: flex;
		justify-content: center;
	p{
		margin-top: 20px;
	}
	}
	.product-details{
		h4{
			margin: 0;
			padding: 15px 0 10px 0;
			font-style: $font-styleItalic;
		}
	}
 }		
}
.home-blog{
	padding-top: 60px;
	text-align: center;
	.blog-first-col{
		min-height: 440px;
		background-color: $third-bgcolor;
	h4{
		margin: 0;
		padding: 25px 0;
	}
	}
	.no-gutter{
	.col-md-7 {
		img{
		width: 100%;
	}
	}
 }
img{
  width: 100%;
  min-height: 440px;
} 
}
// About Page
.about-page{
	.banner{
		min-height: 340px;
	}
	.about{
	padding-bottom: 100px;
	.about-title{
		padding: 115px 0;
		margin: 0;
		display: inline-block;
	}
	.rectangle-image{
		padding-left: 25px;
		margin-top: -5px;
	}
	img{
		max-width: 100%;
	}
	.about-content{
		text-align: center;
		padding: 35px 0 0 45px;
	p{
		margin-bottom: 25px;
	}
	img{
		margin-bottom: 35px;
		padding-top: 15px;
	}
	}
	}
}

// Footer 
#footer{
	.follow{
		padding-top: 110px;
		text-align: center;
	.socials a{
		margin-right: 20px;
	}
	.socials a:last-child{
		margin-right: 0;
	}
	h4{
		margin: 35px 0;
	}
	}
	.footer-menus{
		line-height: 118px;
	ul{
		display: block;
		text-align: center;
	li{
		display: inline-block;
		margin: 0 30px;
		line-height: 40px;
	a{
		font-family: $proxima; 
		font-size: $header-fontSize;
		font-style: $font-styleNormal;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 2px;
	 }
	}	
	}
	}
	.subscribe{
		padding: 50px 0;
		background-color: $second-bgcolor;
	h4{
		margin-top: 0;
	}
	p{
		margin-bottom: 25px;
	}
	.navbar-form{
		margin: 0;
		
	.form-group{
		margin-bottom: 25px;
		display: block;
	}
	.form-control{
		width: 220px;
	
	&:first-child{
		margin-right: 8px;
	}
   }
  }
 }
	.copyright{
		background-color: $first-bgcolor;
		width: 100%;
		text-align: center;
		line-height: 40px;
		letter-spacing: 1px;
	p{
		margin-bottom: 0;
	}
	}
}







